@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ffffff;
}

/* .navber {
  padding-left: calc(100% - 40px);
  padding-right: calc(100% - 40px);
} */

:where(.css-dev-only-do-not-override-1drr2mu).ant-dropdown {
  width: 250px !important;
}

:where(.css-dev-only-do-not-override-1drr2mu).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-item {
  padding: 10px 12px !important;
}

:where(.css-dev-only-do-not-override-1drr2mu).ant-input-outlined:focus-within {
  border-color: #d9d9d9 !important;
}
